#open_folder_small {
  min-width: auto;
  flex-grow: 0;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding: 0.5em;
  font-size: 1.5em;
}

#open_folder {
  height: auto;
  flex-grow: 0;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

#number_input {
  min-width: min-content;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.ver-class {
  color: #6d6d6d; /* Neutral dark gray */
  font-size: small;
  text-align: right;
  padding-right: 1em;
}

#myDropdown {
  height: auto;
  width: 33%;
  flex-grow: 0;
}

#myTensorButton {
  background: #555c66; /* Muted dark gray */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Subtle shadow */
  /* transition: box-shadow 0.3s ease; */
}

#myTensorButtonStop {
  background: #777d85; /* Lighter muted gray */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* transition: box-shadow 0.3s ease; */
}

#myTensorButtonStop:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.advanced_background {
  background: #f4f4f4; /* Light neutral gray */
  padding: 1em;
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease; /* Added transition for smooth shadow effect */
}

.basic_background {
  background: #f4f4f4; /* Muted cool gray */
  padding: 1em;
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.huggingface_background {
  background: #f4f4f4; /* Light gray with a hint of blue */
  padding: 1em;
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.flux1_background {
  background: #f4f4f4; /* Light beige tone */
  padding: 1em;
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.sd3_background {
  background: #f4f4f4; /* Light beige tone */
  padding: 1em;
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.preset_background {
  background: #f4f4f4; /* Light gray */
  padding: 1em;
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.samples_background {
  background: #f4f4f4; /* Soft muted gray-blue */
  padding: 1em;
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.flux1_rank_layers_background {
  background: #ece9e6; /* White background for clear theme */
  padding: 1em;
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

/* Dark mode styles */

.dark .advanced_background {
  background: #172029; /* Slightly darker gradio dark theme */
  padding: 1em;
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease; /* Added transition for smooth shadow effect */
}

.dark .basic_background {
  background: #172029;
  padding: 1em;
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.dark .huggingface_background {
  background: #172029;
  padding: 1em;
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.dark .flux1_background {
  background: #172029;
  padding: 1em;
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.dark .preset_background {
  background: #172029;
  padding: 1em;
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.dark .samples_background {
  background: #172029;
  padding: 1em;
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.dark .flux1_rank_layers_background {
  background: #172029; /* Dark background for dark theme */
  padding: 1em;
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.dark .sd3_background {
  background: #172029;
  padding: 1em;
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}
