#open_folder_small {
  min-width: auto;
  flex-grow: 0;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding: 0.5em;
  font-size: 1.5em;
}

#open_folder {
  height: auto;
  flex-grow: 0;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

#number_input {
  min-width: min-content;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.ver-class {
  color: #6d6d6d; /* Neutral dark gray */
  font-size: small;
  text-align: right;
  padding-right: 1em;
}

#myDropdown {
  height: auto;
  width: 33%;
  flex-grow: 0;
}

#myTensorButton {
  background: #555c66; /* Muted dark gray */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Subtle shadow */
  /* transition: box-shadow 0.3s ease; */
}

#myTensorButtonStop {
  background: #777d85; /* Lighter muted gray */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* transition: box-shadow 0.3s ease; */
}

#myTensorButtonStop:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.fillable.svelte-cn1lzi.app {
  max-width: 1536px !important;
}
